@import '../Import';

#signin{
	background: $yellow;
}
#login{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 240px;
	height: 180px;
	margin-left: -120px;
	margin-top:-90px;
	text-align: center;
	background: rgba(0,0,0,0.2);
	@include borderRadius(20px);
}
#login h1{
	padding: 0;
	margin: 5px 0 15px 0; 
	line-height: 100%;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
}
#login .mt{
	margin-top: 10px;
}
#login a{
	display: block;
	float: right;
	margin-top: 15px;
	margin-right: 35px;
	padding: 0 15px;
	line-height: 25px;
	background: #fff;
	font-size: 15px;
	color: $textOne;
	text-align: center;
	@include borderRadius(30px);
	@include transition(all .3s);
}
#login a:hover{
	background: $darkYellow;
	color: $textTwo;
}