body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#signin {
  background: #cd9c50; }

#login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 240px;
  height: 180px;
  margin-left: -120px;
  margin-top: -90px;
  text-align: center;
  background: rgba(0, 0, 0, 0.2);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

#login h1 {
  padding: 0;
  margin: 5px 0 15px 0;
  line-height: 100%;
  font-size: 24px;
  font-weight: bolder;
  text-align: center; }

#login .mt {
  margin-top: 10px; }

#login a {
  display: block;
  float: right;
  margin-top: 15px;
  margin-right: 35px;
  padding: 0 15px;
  line-height: 25px;
  background: #fff;
  font-size: 15px;
  color: #4f3b3b;
  text-align: center;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#login a:hover {
  background: #BA751B;
  color: #fff; }

/*# sourceMappingURL=signin.css.map */
