body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#side_open {
  display: none; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #f0e9dd;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    float: left;
    width: 20px;
    font-family: "liga";
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #cd9c50; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
#events body {
  height: 50px; }

#events #menu_side {
  width: 230px;
  background: #f0e9dd; }

#events #sub_menu span {
  position: absolute;
  margin-left: 10px;
  line-height: 59px;
  font-family: "liga";
  font-size: 20px; }

#events #sub_menu input {
  width: 100%;
  margin: 0;
  padding: 0 10px 0 40px;
  line-height: 59px;
  border: none;
  border-bottom: 1px solid #bdbdbc;
  border-right: 1px solid #bdbdbc;
  font-size: 15px;
  background: transparent;
  outline: none;
  color: #4f3b3b;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#events #sub_menu a {
  display: block;
  width: 100%;
  padding: 20px;
  color: #4f3b3b;
  font-size: 14px;
  line-height: 150%;
  border-bottom: 1 px solid #bdbdbc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#events #sub_menu a:hover {
  background: #4f3b3b;
  color: #fff; }

#events #sub_menu a strong {
  display: block;
  clear: both; }

div.fc-toolbar {
  line-height: 43px;
  background: #f0e9dd;
  border-collapse: collapse;
  margin-bottom: 0;
  padding: 0; }

div.fc-toolbar *, .fc-view-container * {
  margin-bottom: 0;
  padding: 0;
  border-collapse: collapse; }

.fc-view-container {
  -moz-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.2); }

div.fc-view-container th {
  line-height: 40px;
  border: 0;
  font-size: 12px;
  background: #cd9c50;
  color: #4f3b3b; }

.fc-toolbar h2 {
  text-align: center;
  font-size: 16px;
  font-weight: bold; }

.fc-left, .fc-right {
  width: 60px;
  text-align: center;
  font-size: 20px; }

.fc-prev-button, .fc-next-button {
  font-family: "liga";
  cursor: pointer;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s; }

.fc-prev-button.fc-state-hover, .fc-next-button.fc-state-hover {
  cursor: pointer;
  color: #e56655; }

.fc-right button, .fc-left button {
  border: 0;
  background: transparent;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.fc-content {
  margin-top: 1px;
  padding: 2px 4px;
  font-size: 12px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

a.fc-event:hover {
  background: #cd9c50;
  color: #4f3b3b; }

@media screen and (max-width: 900px) {
  #events #sub_menu span {
    margin-top: 50px; } }

/*# sourceMappingURL=events.css.map */
