@import '../Import';

#events body{
	height: 50px;
}
#events #menu_side{
	width: 230px;
	background: $cream;
}
#events #sub_menu span {
	position: absolute;
	margin-left: 10px;
	line-height: 59px;
	font-family: "liga";
	font-size: 20px;
}
#events #sub_menu input{
	width: 100%;
	margin: 0;
	padding: 0 10px 0 40px;
	line-height: 59px;
	border: none;
	border-bottom: 1px solid $lightGray;
	border-right: 1px solid $lightGray;
	font-size: 15px;
	background: transparent;
	outline: none;
	color: $textOne;
	@include boxSizing();
}
#events #sub_menu a{
	display: block;
	width: 100%;
	padding: 20px;
	color: $textOne;
	font-size: 14px;
	line-height: 150%;
	border-bottom: 1 px solid $lightGray;
	@include boxSizing();
	@include transition(all .3s);
}
#events #sub_menu a:hover{
	background: $brown;
	color: $textTwo;
}
#events #sub_menu a strong{
	display: block;
	clear: both;
}
div.fc-toolbar{
	line-height: 43px;
	background: $cream;
	border-collapse: collapse;
	margin-bottom: 0;
	padding: 0;
}
div.fc-toolbar *, .fc-view-container *{
	margin-bottom: 0;
	padding: 0;
	border-collapse: collapse;
}
.fc-view-container{
	@include boxShadow( -1px -1px 3px rgba(0,0,0,.2));
}

div.fc-view-container th{
	line-height: 40px;
	border: 0;
	font-size: 12px;
	background: $yellow;
	color: $textOne;
}
.fc-toolbar h2{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.fc-left, .fc-right{
	width: 60px;
	text-align: center;
	font-size: 20px;
}
.fc-prev-button, .fc-next-button{
	font-family: "liga";
	cursor: pointer;
	@include transition(color .3s);
}
.fc-prev-button.fc-state-hover, .fc-next-button.fc-state-hover{
	cursor: pointer;
	color: $red;
}
.fc-right button, .fc-left button{
	border: 0;
	background: transparent;
	@include boxShadow(none);
}
.fc-content{
	margin-top:1px;
	padding:2px 4px;
	font-size: 12px;
	@include borderRadius(2px);
	@include transition(all .3s);
}
a.fc-event:hover{
	background: $yellow;
	color: $textOne;
}

@media screen and (max-width: 900px){
	#events #sub_menu span{
		margin-top: 50px;
	}
}