@import '../Import';


#menu_side{
	width: 300px;
	background: $brown;
}
.ui_navlist em{
	color: $yellow;
}
.ui_navlist a:hover em{
	color: $textOne;
}
#notes{
	color: $textThree;
	font-size: 13px;
}
#notes h1{
	padding: 0;
	margin: 0;
	width: 100%;
	line-height: 47px;
	border-left: 1px solid $lightGray;
	background: $cream;
	text-align: center;
	font-size: 15px;
	font-weight: normal;
	color: $textOne;
	@include boxSizing();
}
#user{
	display: block;
	float: left;
	border: 4px solid $brown;
	background: $brown;
	margin: 30px 20px 30px 30px;
	@include borderRadius(50%);
}
#notes h2{
	padding: 0;
	margin: 40px 30px 0 30px;
	line-height: 25px;
	font-size: 15px;
}
#notes h2 span{
	font-size: 12px;
	font-weight: normal;
}
#notes b{
	display: block;
	clear: both;
	margin: 0 30px;
}
#notes p{
	margin: 0;
	padding: 15px 30px 0 30px;
	line-height: 20px;
}

::-webkit-input-placeholder {
	color: $taColor;
	font-weight: bold;
}

:-moz-placeholder{
	color: $taColor;
	font-weight: bold;
}

::-moz-placeholder{ 
	color: $taColor;
	font-weight: bold;
}

:-ms-input-placeholder{
	color: $taColor;
	font-weight: bold;
}
