body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#side_open {
  display: none; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side, html#eventp #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #f0e9dd;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    float: left;
    width: 20px;
    font-family: "liga";
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #cd9c50; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
#menu_side {
  width: 300px;
  background: #4f3b3b; }

.ui_navlist em {
  color: #cd9c50; }

.ui_navlist a:hover em {
  color: #4f3b3b; }

#notes {
  color: #686767;
  font-size: 13px; }

#notes h1 {
  padding: 0;
  margin: 0;
  width: 100%;
  line-height: 47px;
  border-left: 1px solid #bdbdbc;
  background: #f0e9dd;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: #4f3b3b;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#user {
  display: block;
  float: left;
  border: 4px solid #4f3b3b;
  background: #4f3b3b;
  margin: 30px 20px 30px 30px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

#notes h2 {
  padding: 0;
  margin: 40px 30px 0 30px;
  line-height: 25px;
  font-size: 15px; }

#notes h2 span {
  font-size: 12px;
  font-weight: normal; }

#notes b {
  display: block;
  clear: both;
  margin: 0 30px; }

#notes p {
  margin: 0;
  padding: 15px 30px 0 30px;
  line-height: 20px; }

::-webkit-input-placeholder {
  color: #a8a6a6;
  font-weight: bold; }

:-moz-placeholder {
  color: #a8a6a6;
  font-weight: bold; }

::-moz-placeholder {
  color: #a8a6a6;
  font-weight: bold; }

:-ms-input-placeholder {
  color: #a8a6a6;
  font-weight: bold; }

/*# sourceMappingURL=notifications.css.map */
