body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#menu_side {
  width: 300px;
  background: #4f3b3b; }

#side_open {
  display: none; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #f0e9dd;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    float: left;
    width: 20px;
    font-family: "liga";
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #cd9c50; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
.ui_navlist {
  list-style-type: none;
  float: left;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #4f3b3b;
  color: #fff; }

.ui_navlist li {
  overflow: hidden;
  border-bottom: 1px solid #372929; }

.ui_navlist div {
  float: left;
  height: 100%;
  background: #cd9c50;
  margin-left: -110%;
  -webkit-transition: margin-left 0.3s;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }

.ui_navlist div.show {
  margin-left: 0; }

.ui_navlist span {
  font-family: "liga"; }

.ui_navlist div a {
  display: block;
  width: 70px;
  height: 35px;
  line-height: 34px;
  text-align: center;
  font-size: 25px;
  font-family: "liga";
  text-decoration: none;
  color: #4f3b3b;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.ui_navlist div a:hover {
  background: #BA751B;
  color: #fff; }

.ui_navlist img {
  display: block;
  float: left;
  border: 5px solid;
  border-color: #372929;
  margin: 15px 10px 15px 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.ui_navlist p {
  line-height: 22px;
  font-size: 14px;
  margin: 0;
  padding: 20px;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s; }

.ui_navlist li > a {
  display: block;
  float: left;
  width: 100%;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

.ui_navlist li > a:hover {
  background: #cd9c50;
  color: #4f3b3b; }

.ui_navlist li > a:hover img {
  border-color: #ae9757; }

@media screen and (max-width: 320px) {
  .ui_navlist span {
    margin-top: 45px; }

  .ui_navlist .show ~ p {
    opacity: 0; }

  .ui_navlist .show ~ img {
    margin-left: 45px; } }
.ui_searchlist .ui_navlist {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.ui_searchlist {
  float: left;
  width: 100%;
  background: #f0e9dd; }

.ui_searchlist > span {
  margin: 0 20px;
  line-height: 47px;
  text-align: center;
  font-family: "liga";
  font-size: 15px;
  color: #4f3b3b; }

.ui_searchlist > span:first-child {
  display: block;
  width: 100%;
  height: 12px;
  line-height: 12px;
  margin: 46px 0 -58 0;
  font-size: 18px;
  color: #f0e9dd; }

.ui_searchlist > input {
  padding: 0;
  margin: 0;
  width: 65%;
  line-height: 47px;
  border: none;
  background: transparent;
  font-size: 15px;
  color: #4f3b3b;
  outline: none; }

.ui_searchlist > div {
  background: #4f3b3b; }

.ui_searchlist > .downArrow:before {
  content: '[';
  position: absolute;
  z-index: 999;
  width: 100%;
  text-align: center;
  line-height: 10px;
  font-family: "liga";
  font-size: 18x;
  color: #f0e9dd; }

/*# sourceMappingURL=nav_list.css.map */
