body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#side_open {
  display: none; }

#comments {
  float: left;
  padding: 0;
  margin: 30px 0 0 0;
  width: 100%;
  list-style-type: none;
  background: #f7f6f6; }

#comments li {
  float: left;
  width: 100%;
  border-top: 1px solid #d7d7d7; }

#comments img {
  float: left;
  margin-right: 20px; }

#notes #comments p {
  padding: 12px; }

#comments textarea {
  float: left;
  margin: 0;
  padding: 20px;
  width: 100%;
  line-height: 20px;
  border: none;
  resize: none;
  outline: none;
  background: #ebebeb;
  font-size: 12px;
  color: #666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side, html#eventp #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #decfb4;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    float: left;
    width: 20px;
    font-family: "liga";
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #cd9c50; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
#largeBox {
  float: left;
  clear: both;
  margin: 35px;
  background: #decfb4; }

#dashboard h1 {
  margin: 0;
  width: 100%;
  line-height: 40px;
  padding: 0 20px;
  background: #4f3b3b;
  color: #fff;
  font-size: 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

ul.ui_navlist img {
  width: 75px; }

#graph, #graphM, #graphS {
  width: 100% !important;
  height: auto !important;
  padding: 35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#graph {
  display: block; }

#graphM, #graphS {
  display: none; }

#colWrap {
  display: table;
  width: 100%;
  padding: 0 35px 35px 35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colWrap div {
  display: table-cell;
  width: 50%;
  background-color: #decfb4; }

#colNotes {
  padding-right: 35px;
  background-repeat: repeat-y;
  background-position: top right; }

#colWrap a {
  display: block;
  width: 100%;
  padding: 20px;
  line-height: 160%;
  color: #4f3b3b;
  font-size: 16px;
  border-bottom: 1px solid #bdbdbc;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s; }

#colWrap a:hover {
  background: #cd9c50; }

#colEvents ul {
  background-color: transparent; }

#colEvents li {
  border-bottom: none; }

#colEvents img {
  margin: 0 15px 0 0;
  border-color: #d5cec3; }

#colEvents a:hover img {
  border-color: #BA751B; }

#colEvents p {
  padding: 20px 0 0 0; }

#colEvents a {
  padding-bottom: 21px; }

@media screen and (max-width: 880px) {
  #graph {
    display: none; }

  #graphM {
    display: block; }

  #largeBox, #colWrap {
    margin: 0;
    padding: 0; }

  #colNotes {
    padding-right: 0;
    background-image: none;
    border-right: 1px solid #bdbdbc; } }
@media screen and (max-width: 580px) {
  #graphM {
    display: none; }

  #graphS {
    display: block; } }
@media screen and (max-width: 680px) {
  #largeBox {
    width: 100%;
    display: block;
    float: left;
    border: none; } }

/*# sourceMappingURL=dashboard.css.map */
