@import '../Import';

#largeBox{
	float: left;
	clear: both;
	margin: 35px;
	background: $cream;

}

#dashboard h1{
	margin: 0;
	width: 100%;
	line-height: 40px;
	padding: 0 20px;
	background: $brown;
	color: $textTwo;
	font-size: 14px;
	@include boxSizing();
}

ul.ui_navlist img{
	width: 75px;
}

#graph,#graphM,#graphS{
	width: 100% !important;
	height: auto !important;
	padding: 35px;
	@include boxSizing();
}

#graph{
	display: block;
}

#graphM,#graphS{
	display: none;
}

#colWrap{
	display: table;
	width: 100%;
	padding: 0 35px 35px 35px; 
	@include boxSizing();
}

#colWrap div{
	display : table-cell;
	width: 50%;
	background-color: $cream;

}
#colNotes{
	padding-right: 35px;
	background-repeat : repeat-y;
	background-position : top right;
}

#colWrap a{
	display: block;
	width: 100%;
	padding: 20px;
	line-height: 160%;
	color: $textOne;
	font-size: 16px;
	border-bottom: 1px solid $lightGray;
	@include boxSizing();
	@include transition(background .3s);
}

#colWrap a:hover{
	background: $yellow;
}

#colEvents ul{
	background-color: transparent;
}

#colEvents li{
border-bottom: none;
}

#colEvents img{
	margin: 0 15px 0 0;
	border-color: #d5cec3
}

#colEvents a:hover img{
	border-color: $darkYellow;
}
#colEvents p{
	padding: 20px 0 0 0;
}

#colEvents a{
	padding-bottom: 21px;
}

@media screen and (max-width: 880px){
	#graph{
		display: none;
	}
	#graphM{
		display: block;
	}
	#largeBox, #colWrap{
		margin : 0;
		padding: 0;
	}
	#colNotes{
		padding-right: 0;
		background-image: none;
		border-right: 1px solid $lightGray;
	}
}

@media screen and (max-width: 580px){
	#graphM{
		display: none;
	}
	#graphS{
		display: block;
	}
}

@media screen and (max-width: 680px){
	#largeBox{
		width: 100%;
		display: block;
		float: left;
		border: none;
	}
}