//General
$darkBrown: #361c12;
$brown: #4f3b3b;
$darkRed: #9d321b;
$red: #e56655;
$darkYellow: #BA751B;
$yellow: #cd9c50;
$cream: #decfb4;
$darkGray: #5c5c5c;
$lightGray: #bdbdbc;

//Text

$textOne: #4f3b3b;
$textTwo: #fff;
$textThree: #686767;

//Specific colors

$ta: #ebebeb;
$taColor: #a8a6a6;
$divLine: #d7d7d7;

@mixin transition($val){
	-webkit-transition: $val;
	-moz-transition: $val;
	-o-transition: $val;
	transition: $val;
}

@mixin boxShadow($val){
	-moz-box-shadow: $val;
	-webkit-box-shadow: $val;
	box-shadow: $val;
}

@mixin borderRadius($val){
	-moz-border-radius: $val;
	-webkit-border-radius: $val;
	border-radius: $val;
}

@mixin boxSizing{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{

	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: "Helvetica", arial;
	font-weight: normal;
	font-size: 16px;
	color: $textOne;
}

a{
	text-decoration: none;
}

@font-face{ 
      font-family: 'liga';
          src: url('../font/websymbolsligaregular.eot');
          src: url('../font/websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
               url('../font/websymbolsligaregular.woff') format('woff'),
               url('../font/websymbolsligaregular.ttf') format('truetype'),
               url('../font/websymbolsligaregular.svg#websymbolsligaregular') format('svg');

font-weight: normal;
font-style: normal;
}

// Two Column Layout Styles

#colTwo{
	display: table;
	position: absolute;
	z-index: -1;
	float: left;
	width: 100%;
	height: 100%;
	padding-top: 50px;
	@include boxSizing();
}
#colTwo > div{
	display: table-cell;
	vertical-align: top;
	height: 100%;
}
#side_open{
	display: none;
}

#comments{
	float: left;
	padding: 0;
	margin: 30px 0 0 0;
	width: 100%;
	list-style-type: none;
	background: #f7f6f6;
}
#comments li{
	float: left;
	width: 100%;
	border-top: 1px solid $divLine;
}
#comments img{
	float: left;
	margin-right: 20px; 
}
#notes #comments p{
	padding: 12px;
}
#comments textarea{
	float: left;
	margin: 0;
	padding: 20px;
	width: 100%;
	line-height: 20px;
	border: none;
	resize: none;
	outline: none;
	background: $ta;
	font-size: 12px;
	color: #666;
	@include boxSizing();
}
@media screen and (max-width: 900px){
	#colTwo, #colTwo > div{
		display: block;
	}
	#colTwo #menu_side, html#events #menu_side, html#eventp #menu_side{
		float: left;
		width: 100%;
		height: auto;
	}
	#side_open{
		display: block;
		float: left;
		width: 100%;
		line-height: 50px;
		color: $textOne;
		background: $cream;
		border-bottom: 1px solid $lightGray;
		text-align: center;
		font-size: 16px;
		@include transition(all .3s);
	}
	#side_open span{
		float: left;
		width: 20px;
		font-family: "liga";
		font-size: 25px;
		padding-left: 20px;
	}
	#side_open:hover{
		background: $yellow;
	}
	#sub_menu{
		display: none;
	}
	#sub_menu.sub_open{
		display: block;
	}
}