body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
#colTwo {
  display: table;
  position: absolute;
  z-index: -1;
  float: left;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#colTwo > div {
  display: table-cell;
  vertical-align: top;
  height: 100%; }

#side_open {
  display: none; }

#comments {
  float: left;
  padding: 0;
  margin: 30px 0 0 0;
  width: 100%;
  list-style-type: none;
  background: #f7f6f6; }

#comments li {
  float: left;
  width: 100%;
  border-top: 1px solid #d7d7d7; }

#comments img {
  float: left;
  margin-right: 20px; }

#notes #comments p {
  padding: 12px; }

#comments textarea {
  float: left;
  margin: 0;
  padding: 20px;
  width: 100%;
  line-height: 20px;
  border: none;
  resize: none;
  outline: none;
  background: #ebebeb;
  font-size: 12px;
  color: #666;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@media screen and (max-width: 900px) {
  #colTwo, #colTwo > div {
    display: block; }

  #colTwo #menu_side, html#events #menu_side, html#eventp #menu_side {
    float: left;
    width: 100%;
    height: auto; }

  #side_open {
    display: block;
    float: left;
    width: 100%;
    line-height: 50px;
    color: #4f3b3b;
    background: #f0e9dd;
    border-bottom: 1px solid #bdbdbc;
    text-align: center;
    font-size: 16px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s; }

  #side_open span {
    float: left;
    width: 20px;
    font-family: "liga";
    font-size: 25px;
    padding-left: 20px; }

  #side_open:hover {
    background: #cd9c50; }

  #sub_menu {
    display: none; }

  #sub_menu.sub_open {
    display: block; } }
#eventp, #eventp body {
  height: 50px; }

#eventp #menu_side {
  width: 223px;
  background: #f0e9dd;
  -moz-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3); }

#eventp #sub_menu a {
  display: table;
  float: left;
  width: 100%;
  border-bottom: 1px solid #bdbdbc;
  color: #686767;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#eventp #sub_menu a:first-child {
  line-height: 60px;
  text-align: center;
  border-bottom: none;
  background: #6d5252;
  color: #fff;
  -moz-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3); }

#eventp #sub_menu a:first-child span {
  font-family: "liga";
  margin-right: 5px; }

#eventp #sub_menu a:hover {
  background: #cd9c50;
  color: #4f3b3b;
  -moz-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset -2px 0px 3px rgba(0, 0, 0, 0.3); }

#eventp #sub_menu img {
  width: 100px;
  float: left; }

#eventp #sub_menu p {
  display: table-cell;
  vertical-align: middle;
  line-height: 160%;
  font-size: 13px;
  padding: 15px;
  margin: 0; }

#epm div {
  float: left;
  width: 100%;
  background: #6d5252;
  color: #fff; }

#epm div img {
  width: 100px;
  float: left;
  margin-right: 20px; }

#epm h1 {
  font-size: 20px;
  line-height: 100%;
  margin: 20px 0 0 0;
  padding: 0; }

#epm small {
  line-height: 200%;
  font-size: 12px; }

#epm > img {
  width: 100%;
  height: auto;
  max-height: 580px;
  background: #d3d3d3; }

#epm p {
  margin: 0;
  padding: 20px 20px 0 20px;
  line-height: 150%;
  font-size: 14px;
  color: #686767; }

#epm #comments {
  margin-top: 20px;
  background: #fff; }

#comments img {
  width: 100px; }

#epm #comments p {
  padding: 15px; }

@media screen and (max-width: 900px) {
  #eventp #sub_menu p {
    width: 100%; } }

/*# sourceMappingURL=event_page.css.map */
