@import '../Import';

$lightBrown: #6d5252; 

#eventp, #eventp body{
	height: 50px;
}

#eventp #menu_side{
	width: 223px;
	background: $cream;
	@include boxShadow(inset -2px 0px 3px rgba(0,0,0,.3));
}

#eventp #sub_menu a{
	display: table;
	float: left;
	width: 100%;
	border-bottom: 1px solid $lightGray;
	color: $textThree;
	@include transition(all .3s);
}

#eventp #sub_menu a:first-child{
	line-height: 60px;
	text-align: center;
	border-bottom: none;
	background: $lightBrown;
	color: $textTwo;
	@include boxShadow(inset -2px 0px 3px rgba(0,0,0,.3));
}

#eventp #sub_menu a:first-child span{
	font-family: "liga";
	margin-right: 5px;
}

#eventp #sub_menu a:hover{
	background: $yellow;
	color: $textOne;
	@include boxShadow(inset -2px 0px 3px rgba(0,0,0,.3));
}

#eventp #sub_menu img{
	width: 100px;
	float: left;
}
#eventp #sub_menu p{
	display: table-cell;
	vertical-align: middle;
	line-height: 160%;
	font-size: 13px;
	padding: 15px;
	margin: 0;
}

#epm div{
	float: left;
	width: 100%;
	background: $lightBrown;
	color: #fff;
}
#epm div img{
	width: 100px;
	float: left;
	margin-right: 20px;
}
#epm h1{
	font-size: 20px;
	line-height: 100%;
	margin: 20px 0 0 0;
	padding: 0;
}
#epm small{
	line-height: 200%;
	font-size: 12px;
}

#epm > img{
	width: 100%;
	height: auto;
	max-height: 580px;
	background: #d3d3d3;
}
#epm p{
	margin: 0;
	padding: 20px 20px 0 20px;
	line-height: 150%;
	font-size: 14px;
	color: $textThree;
}
#epm #comments{
	margin-top: 20px;
	background: #fff;
}
#comments img{
	width: 100px;
}
#epm #comments p{
	padding: 15px;
}

@media screen and (max-width: 900px){
	#eventp #sub_menu p{
		width: 100%;
	}
}