body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica", arial;
  font-weight: normal;
  font-size: 16px;
  color: #4f3b3b; }

a {
  text-decoration: none; }

@font-face {
  font-family: 'liga';
  src: url("../font/websymbolsligaregular.eot");
  src: url("../font/websymbolsligaregular.eot?#iefix") format("embedded-opentype"), url("../font/websymbolsligaregular.woff") format("woff"), url("../font/websymbolsligaregular.ttf") format("truetype"), url("../font/websymbolsligaregular.svg#websymbolsligaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body #header_open {
  display: none;
  background: #4f3b3b;
  text-align: center; }

#header_open span {
  font-family: "liga";
  font-size: 30px;
  float: left; }

#header {
  float: left;
  width: 100%;
  background: #4f3b3b; }

#header a, #header_open {
  display: inline-block;
  float: left;
  padding: 0 15px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }

#header a:first-child {
  padding-left: 20px; }

#header a:last-child {
  float: right;
  padding-right: 20px; }

#header span {
  font-family: "liga";
  padding-right: 7px; }

#header a:hover, body #header_open:hover {
  background: #cd9c50;
  color: #4f3b3b; }

#header em {
  display: inline-block;
  position: absolute;
  line-height: 12px;
  padding: 0 3px;
  margin: 12px 0 0 -12px;
  background: #e56655;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-size: 9px;
  font-weight: bold;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 590px) {
  body #header_open {
    display: block; }

  #header {
    display: none; }

  #header.open {
    display: block; }

  #header a, #header_open {
    width: 100%;
    clear: both;
    border-bottom: 1px solid #361c12;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  #header a:first-child, #header a:last-child {
    float: left;
    padding: 0 15px; }

  #header span {
    display: inline-block;
    width: 20px;
    text-align: center; } }

/*# sourceMappingURL=header.css.map */
